*{
  margin:0%;
  padding:0%;
  font-size: 110%;
}

html, body{
  background-color: #f0f0f0;
}

header{
  background-color: #444444;
  width: 100vw;
  height: 25vh;
  text-align: center;
  border-bottom: solid #000000 0.5vh;
}

header p{
  padding: 3%;
  font-family: 'Courier New', monospace;
  font-size: 1.5em;
  color: #f0f0f0;
}

h1{
  padding: 3%;
  position: relative;
  bottom: 0vh;
  color: #f0f0f0;
  font-size: 2em;
}

h2{
  display: inline-block;
  margin-top: 2%;
  margin-left: 2%;
  font-size: 1.5em;
}

h3{
  position: relative;
  left: 3%;
  top: 3%;
  width: 90%;
}

nav{
  width: 100vw;
  height: 95vh;
  background-color: #8b0000;
  position: relative;
  z-index: 2;
}

a{
  color: #f0f0f0;
  text-decoration: none;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding-top: 3vh;
  text-decoration: none;
  line-height: 5vh;
  height: 12vh;
}

.active{
  /*border-left: solid #000000 25px;
  padding-right: 25px;*/
  color: #000000;
}

hr {
    width: 35px;
    margin:0 auto;
}

.left{
  float:left;
}

div p{
  width: 94vw;
  display: inline-block;
  margin: 3%;
  line-height: 1.6;
}

iframe, img{
  width: 95vw;
  height: 71vw;
  margin: 2%;
  background-color: #000000;
}

img{
  border: solid #444444 3px;
}

img:hover, img:focus{
  border: solid #000000 3px;
  cursor: pointer;
  opacity: 0.9;
}

button, #button {
  display: inline-block;
  text-align: center;
  background-color: #8b0000;
  color: #f0f0f0;
  width: 100vw;
  height: 8vh;
  border: solid #000000 3px;
  line-height: 1.6;
}

button:hover, #button:hover, button:focus, #button:focus{
  background-color: #000000;
  border-color: #8b0000;
  cursor: pointer;
}

.media{
  background-color: #d3d3d3;
  height: 90%;
  padding-top: 2%;
}

footer{
  background-color: #444444;
  height: 35vh;
  margin-top: 0vh;
  padding: 2%;
  text-align: center;
  font-family: 'Courier New', monospace;
  font-size: 1.5em;
  line-height: 5vh;
  color: #f0f0f0;
  clear: both;
  position: relative;
  z-index: 3;
}

@media screen and (orientation: landscape){

  header{
    height: 60vh;
  }

  nav{
    height: 200vh;
  }

  nav a{
    height: 24vh;
    padding-top: 8vh;
  }

  /*iframe, img{
    height: 71vw;
  }*/
}

@media screen and (min-width: 992px) and (orientation: landscape){

  *{
    font-size: 102%;
  }

  header{
    background-image: url("../img/Valle_1-1454355269.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-color: #444444;
    width: 100vw;
    height: 65vh;
    text-align: right;
  }

  header p{
    padding-right: 3%;
    font-size: 1.5em;
    bottom: 15vh;
  }

  h1{
    top: 35vh;
    font-size: 2em;
  }

  nav{
    width: 20vw;
    height: 101vh;
  }

  nav a {
    padding-top: 5vh;
    line-height: 5vh;
    height: 12vh;
  }

  div p{
    width: 70vw;
    display: inline-block;
  }

  section{
    height: 101vh;
  }

  iframe{
    width: 29vw;
    height: 28vh;
    margin: 5vw;
  }

  img{
    /*width: 29vw;
    height: 28vh;*/
    width: 260px;
    height: 195px;
    margin: 3vw 60px 1vw 60px;
  }

  button, #button {
    width: 200px;
    height: 50px;
    margin-left: 295px;
    border-radius: 25px;
    margin-top: 10vh;
  }

  .media{
    background-color: #d3d3d3;
    height: 75vh;
  }

  #o21803{
    width: 65vw;
    height: 60vh;
  }

  footer{
    height: 20vh;
  }
}

@media screen and (min-width: 1200px){
  header{
    height: 75vh;
  }

  header p{
    font-size: 2em;
  }

  h1{
    font-size: 2.5em;
  }

  section{
    height: 101vh;
  }

  img{
    width: 343px;
    height: 258px;
    margin: 3vw 60px 1vw 60px;
  }

  button, #button {
    width: 200px;
    height: 50px;
    margin-left: 370px;
    border-radius: 25px;
    margin-top: 3vh;
  }
}

@media screen and (pointer: fine){

  header{
    height: 45vh;
  }

  nav{
    height: 101vh;
  }

  nav a {
    padding-top: 4vh;
    line-height: 10vh;
    height: 11vh;
    overflow: hidden;
  }

  nav a:hover{
    height: 22vh;
    overflow: visible;
    background-color: #444444;
  }

  nav a:focus{
    height: 22vh;
    overflow: visible;
    background-color: #444444;
  }
}

@media screen and (pointer: fine) and (min-width: 992px){

  header{
    height: 65vh;
  }
}

@media screen and (pointer: fine) and (orientation: landscape) and (min-width: 1200px){

  header{
    height: 75vh;
  }

  header p{
    font-size: 2em;
  }

  h1{
    font-size: 2.5em;
  }

  nav{
    height: 101vh;
  }

  nav a {
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    height: 11vh;
  }

  img{
    /*width: 29vw;
    height: 28vh;*/
    width: 343px;
    height: 258px;
    margin: 3vw 60px 1vw 60px;
  }

  button, #button {
    width: 200px;
    height: 50px;
    margin-left: 370px;
    border-radius: 25px;
    margin-top: 3vh;
  }
}

#reset{
  background-color: #000000;
  color: #f0f0f0;
  width: 50px;
  height: 50px;
  border: solid #8b0000 3px;
  position: fixed;
  top: 1vh;
  left: 1vw;
  margin: 0;
  display: none;
  z-index: 5;
}

#reset:hover{
  background-color: #8b0000;
  border-color: #000000;
}

#button{
  margin-top: 0;
}
