*{
  margin:0%;
  padding:0%;
}

html, body{
  background-color: #f0f0f0;
}

header{
  background-image: url("../Valle_1-1454355269.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-color: lightgrey;
  width: 100vw;
  height: 350px;
  text-align: right;
}

header p{
  padding-right: 3%;
  font-family: 'Courier New', monospace;
  font-size: 1em;
}

h1{
  position: relative;
  top: 250px;
  right: 5vw;
  color: #cccccc;
}

h2{
  display: inline-block;
  margin: 2%;
}

h3{
  position: relative;
  left: 3%;
  top: 3%;
}

nav{
  width: 100vw;
  height: 55vh;
  background-color: darkred;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding-top: 1vh;
  text-decoration: none;
  line-height: 5vh;
  height: 6vh;
  overflow: hidden;
}

nav a:hover{
  background-color: #444444;
  height: 12vh;
  /*transition: height 0.5s;*/
  overflow: visible;
}

.left{
  float:left;
}

div p{
  width: 90vw;
  display: inline-block;
  margin: 5%;
  text-align: justify;
}

iframe{
  width: 95vw;
  height: 40vh;
  margin: 2%;
}

.videos{
  background-color: lightgrey;
  height: 90vh;
}

footer{
  background-color: #444444;
  height: 15vh;
  margin-top: 0vh;
  text-align: center;
  font-family: 'Courier New', monospace;
  font-size: 1em;
  line-height: 8vh;
  color: #f0f0f0;
  clear: both;
}

@media screen and (min-width: 750px){
  header{
    height: 450px;
  }

  h1{
    top: 350px;
  }

  nav{
    width: 20vw;
    height: 113vh;
  }

  nav a {
    padding-top: 1vh;
    line-height: 10vh;
    height: 11vh;
  }

  nav a:hover{
    height: 22vh;
  }

  div p{
    width: 70vw;
    display: inline-block;
    margin: 5%;
    text-align: justify;
  }

  iframe{
    width: 29vw;
    height: 28vh;
    margin: 5vw;
  }

  .videos{
    background-color: lightgrey;
    height: 45vh;
  }
}


@media screen and (min-width: 900px){
  header{
    height: 550px;
  }

  header p{
    font-size: 2em;
  }

  h1{
    top: 450px;
  }
}

@media screen and (min-width: 1200px){
  header{
    height: 730px;
  }

  h1{
    top: 630px;
  }
}
